<hr>
<div class="project">
  <div class="project-info">
    <h3 class="project-title">{{ project.title }}</h3>
    <!-- add some tags, formatted like other tags on this site and pulling from the project.tags array -->
    <p class="project-tags">
      {% for tag in project.tags %}
        <!-- <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}/'>#{{ tag | camelcase }}</a> -->
        #{{ tag }}
      {% endfor %}
    </p>
    <p class="project-description">{{ project.description }}</p>
    <div class="project-links widget-tagcloud">
      <a class="project-link" href="{{ project.repo_link }}" target="_blank">See the code &nbsp; <i class="fa fa-{{ project.repo_platform }}"></i></a>
      <a class="project-link" href="{{ project.deployed_link }}" target="_blank">Try the app &nbsp; 🌐</a>
    </div><!-- .project-links -->
  </div><!-- .project-info -->
  <div class="project-image">
    <a href="{{ project.featured_image }}" target="_blank"><img src="{{ project.featured_image }}" alt="{{ project.title }}"></a>
  </div><!-- .project-image -->
</div><!-- .project -->
